.tabItem {
    display: flex;

    width: auto;

    padding: 10px 2px;
    margin: 0;
    border-radius: 5px;

    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.05s ease-in-out;
}

.title {
    min-width: 0;
    text-wrap: nowrap;
    position: relative;
    width: 100%;
}

.title_header {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    color: #fff;
    font-weight: 400 !important;
    text-shadow: 0 1px 1px 1px;
}

.title_description {
    margin: 0;
    margin-top: 4px;
    padding: 0;
    font-size: 0.85rem;

    text-overflow: ellipsis;
}

.favicon {
    flex-shrink: 0;
    margin-top: 2px;
    align-self: start;
}

.faviconWrapper {
    display: flex;
    align-items: center;
    width: 20px;
    height: 25px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.switchTab {
    top: -5px;
    position: absolute;
    right: 10px;
    font-size: 0.8rem;
    color: #999;
}

@media (prefers-color-scheme: dark) {
    .tabItem {
        color: white;
    }

    .tabItem:active {
        background-color: #222;
    }

    .selected,
    .tabItem:hover,
    .tabItem:focus {
        background-color: whitesmoke;

        p {
            color: #999;
        }

        .title_header {
            color: #111;
        }

        .faviconWrapper {
            border: 1px solid #888;
        }

        img {
            filter: invert();
        }
    }

    .title_header {
        margin: 0;
        padding: 0;
        font-size: 0.9rem;
        color: #fff;
        font-weight: 400 !important;
        text-shadow: 0 1px 1px 1px;
    }

    .title_description {
        color: #444;
    }
}

@media (prefers-color-scheme: light) {
    .tabItem {
        color: black;
    }

    .tabItem:active {
        background-color: #333;
    }

    .selected,
    .tabItem:hover,
    .tabItem:focus {
        background-color: #222;

        p {
            color: #999;
        }

        .title_header {
            color: #fff;
        }

        .faviconWrapper {
            border: 1px solid #888;
        }

        img {
            filter: invert();
        }
    }

    .title_header {
        margin: 0;
        padding: 0;
        font-size: 0.9rem;
        color: black;
        font-weight: 500 !important;
        text-shadow: 0 1px 1px 1px;
    }

    .title_description {
        color: #888;
    }
}
