.tabItem {
  display: flex;
  gap: 10px;
  width: auto;

  padding: 10px 2px;
  margin: 0;
  border-radius: 5px;

  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.05s ease-in-out;
}

.title {
  min-width: 0;
  text-wrap: nowrap;
  position: relative;
  width: 100%;
}

.title_header {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;

  font-weight: 500 !important;
  text-shadow: 0 1px 1px 1px;
}

.title_description {
  margin: 0;
  margin-top: 4px;
  padding: 0;
  font-size: 0.85rem;

  text-overflow: ellipsis;
}

.favicon {
  padding: 0 5px;

  margin-top: 2px;
  align-self: start;
  border-radius: 10px;
  overflow: hidden;
}

.faviconWrapper {
  display: flex;
  align-items: center;
  width: 20px;
  height: 25px;
  border-radius: 10px;
}

.bookmarkIcon {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.resultTypeIndicator {
  font-size: 0.8rem;
  opacity: 0.7;
  margin-right: 4px;
}

.switchTab {
  top: 2px;
  position: absolute;
  right: 10px;
  font-size: 0.6rem;
  color: #555;
  text-transform: uppercase;
}

@media (prefers-color-scheme: dark) {
  .tabItem {
    color: white;
  }

  .tabItem:active {
    background-color: #222;
  }

  .selected,
  .tabItem:hover,
  .tabItem:focus {
    background-color: whitesmoke;

    p {
      color: #999;
    }

    .title_header {
      color: #111;
    }

    .resultTypeIndicator {
      color: #111;
    }

    img {
      filter: invert();
    }
  }

  .title_header {
    color: #fff;
  }

  .title_description {
    color: #444;
  }
}

@media (prefers-color-scheme: light) {
  .tabItem {
    color: black;
  }

  .tabItem:active {
    background-color: #333;
  }

  .selected,
  .tabItem:hover,
  .tabItem:focus {
    background-color: #222;

    p {
      color: #999;
    }

    .title_header {
      color: #fff;
    }

    .resultTypeIndicator {
      color: #fff;
    }

    img {
      filter: invert();
    }
  }

  .title_header {
    color: black;
  }

  .title_description {
    color: #888;
  }
}
